/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    height: 80px;
    z-index: 997;
    transition: all 0.5s;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(146, 146, 146, 0.2);
    border-bottom: 0.1px solid rgba(146, 146, 146, 0.389);
}

#header.header-scrolled {
    height: 60px;
}

#header .logo {
    display: flex;
    align-items: center;
}

@media (max-width: 991px) {
    #header .logo h1 {
        font-size: 28px;
    }
}

#header .logo h1 a,
#header .logo h1 a:hover {
    color: #00366f;
    text-decoration: none;
}

#header .logo img {
    padding: 0;
    max-height: 60px;
}

#header .logo img:hover {
    opacity: 0.8;
}

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
/**
  * Desktop Navigation
  */
.navbar {
    padding: 0;
    width: 100%;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;    
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Rajdhani", sans-serif;
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
    transition: 0.3s;
    text-decoration: none;
    color: #000000;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #007bff;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    margin-top: 11.75%;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #f1f4ff;
    transition: 0.3s;
}

.navbar .main-navbar{
    display: flex;
    justify-content: space-between;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    text-decoration: none;
    color: #000000;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: #007bff;
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
    transition: 0.3s;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown-section{
    padding: 20px 20px 20px 0px;
    margin-left: 10px;
}

.navbar .dropdown .dropdown-section .dropdown-header{
    margin-left: 17px;
}

.navbar .dropdown .dropdown-section a.dropdown-item{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

#nav #navigation-bar div.dropdown-menu.show .dropdown-section:not(:last-child){
    border-right: 1px solid rgba(146, 146, 146, 0.389);
}

@media (min-width: 992px) {
    .navbar ul li.dropdown ul{
        display: flex;
        align-items: flex-start;
    }

    #header.header-scrolled .navbar .dropdown ul {
        margin-top: 6%;
    }

    .navbar .dropdown .dropdown-section:not(:last-child){
        border-right: 1px solid rgba(146, 146, 146, 0.389);
    }
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}

/**
  * Mobile Navigation
  */
.mobile-nav-toggle {
    color: #000000;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
    color: rgb(0, 0, 0);
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }


}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(23, 35, 46, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    padding: 20px 25px;
    padding-top: 50px;
    background-color: #ffffff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile ul div.login-and-register{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #000000;
    text-decoration: none;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: #007bff;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #f1f4ff;
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
    color: #007bff;
}

.navbar-mobile .dropdown>.dropdown-active {
    display: block;
}

.login-and-register{
    margin-left: 5%;
}

.login-and-register li.login-button{
    margin-right: 10px;
}

.login-and-register li.login-button a{
    text-decoration: none;
    padding: 8px 15px; 
}

.login-and-register li.login-button a:hover{
    background-color: #c2c2c260;
    border-radius: 5px;
}

.login-and-register li.register-button{
    border-radius: 5px;
    background-color: #39B04A;
    text-decoration: none;
}

.login-and-register li.register-button a{
    color: #ffffff;
    text-decoration: none;
    padding: 8px 15px;
}

@media screen and (max-width: 991px){
    header > .container{
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 1400px) {
    nav#navbar .main-navbar li a {
        font-size: 14px;
    }

    .login-and-register{
        margin-left: 10px;
    }

    .navbar a{
        padding: 10px 0 10px 20px;
    }

}

@media screen and (max-width: 1200px) {
    nav#navbar .main-navbar li a {
        font-size: 13px;
        padding: 10px 0 10px 15px;
    }

    nav#navbar .main-navbar .login-and-register li.register-button a{
        padding: 8px 10px;
        display: flex;
        justify-items: center;
        text-align: center;
    }

    #header .logo img{
        max-height: 30px;
    }
}
